PORT=5001
HTTP_PORT=5050
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
FIREBASE_PROJECT_ID=khuntest-lab-e5966
KHUNTEST_SITE_URL=https://khuntest.com
ENABLE_TCP=true
ENABLE_HTTP_TEST_PAGE=true
SERIAL_PORT_PATH=
SERIAL_BAUD_RATE=9600
